

html {
    font-size: 18px;
}

li {
    margin-bottom: 2%;
}

p {
    font-size: 17px;
    margin-left: 2%;
    margin-top: 2%;
}

.btn-info {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button.btn.btn-default.pull-right {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button.btn.btn-danger.pull-right {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    }

#savenote {
    border-color: #449d44;
    background-color: #449d44;
    color: #ffffff;
}

.modal-body {
    background-color: #ffffff;
}

.modal-header {
    background-color: #2672c8;
}



/*navbar*/
a.navbar-brand {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#bodyinput {
    width: 50%;
}
/*NY Times image & jumbo*/
.jumbotron {
    overflow: hidden;
    background-size: 50%;
    background-size:cover;
    color:white;
    background-position: center;
    background-image: url('../images/newyorktimes_120616getty.jpg');
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}
/*text within jumbotron*/
#text {
      position:absolute;
      font-family: Arial, Helvetica, sans-serif;
      color:#ff7d00;
      text-shadow: 2px 3px #222222;
      font-weight: bold;
      left:10px;
      bottom:10px;
      font-size:35px;
}

/*panels that hold the headlines*/
.panel-heading.row {
    width: 100%;
    margin-left: 0%;
}

.panel-primary {
    height: 135px;
}
/*save button for modal*/
#savenote {
    display: block;
    padding: 5px;
}

@media screen and (max-width: 640px) {

}
/*modal styling*/
.modal-content {
    background-color: #c2c2d6;
}

textarea#bodyinput {
    height: 100px;
}

h4#myModalLabel {
    color: #ffffff;
}